<header>
  <div class="heading">
    <%=link_to 'Tabón de Anuncios', "/", class: 'title' %>
  </div>
  <div class="navbar">
    <ul class="lists">
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, edit_user_registration_path, class: 'link'%></li>
        <li><%= link_to '募集する' ,new_board_path, class: 'link'%>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'link'%></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: 'link'%></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: 'link'%></li>
      <% end %>
    </ul>
  </div>
</header>