<%= render 'shared/header'%>

<div class="contents row">
  <% @boards.each do |borad| %>
    <div class="content_post" style="background-image: url(<%= tweet.image %>);">
      <p><%= board.text %></p>
      <span class="name">
        <%= borad.name %>
      </span>
    </div>
  <% end %>
</div>
<%= render 'shared/footer'%>